.container-promo {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.child-container-promo {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brip-promo-img {
    width: 28%;
    height: 250;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

/*CALL AGENTE*/
.container-call-agente {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.child-container-call-agente {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.child-container-call-agente div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-call-agente {
    padding: 12px 30px;
    border-radius: 10px;
    outline: none;
    background-color: #0089F3;
    border: 1px solid #0089F3;
    color: white;
    font-weight: 700;
    transition: 200ms;
}